body {
  font-family: "Montserrat", sans-serif;
  background: #ffc400;
  overflow: hidden;
}
/*                   Landing Page                 */
nav {
  float: right;
  width: 250px;
  margin-top: -240px;
  margin-right: 10px;

  z-index: 5;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  display: inline;
  float: left;

  padding-left: 20px;

  color: white;

  font-size: 18px;
  font-weight: 100;

  text-decoration: none;
}

#landing-con {
  width: 100%;
  margin-top: -200px;

  padding: 0;

  position: absolute;
}

#landing-logo {
  width: 950px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form-wrapper {
  width: 380px;
  margin: 0 auto;

  margin-top: 18%;
}

.form-title {
  position: absolute;
  margin-left: 70px;
  /* margin-left: 540px; */
}

#sigin-form {
  /* display: none; */
}

#register-form {
  display: none;
}

#sign-in {
  background-image: url("assets/red-shape.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 30px;
  width: 150px;

  padding: 2px;
  padding-top: 5px;

  text-align: center;

  color: white;
  font-weight: 400;
  font-size: 20px;

  margin-top: -37px;

  position: relative;
  z-index: 1;
}

#register {
  background-image: url("assets/white-shape.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 30px;
  width: 160px;

  padding: 2px;
  padding-top: 5px;

  text-align: center;

  font-weight: 400;
  font-size: 20px;

  margin-left: 130px;
  margin-top: -37px;
  position: relative;
  z-index: 0;
}
#sign-btn {
  background: none;
  border: none;

  padding: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  text-align: center;

  color: white;
  font-weight: 400;
  font-size: 20px;
}

#reg-btn {
  background: none;
  border: none;

  padding: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  text-align: center;

  color: #d81e5b;
  font-weight: 400;
  font-size: 20px;
}

#signin-box {
  border: 10px solid #d81e5b;
  background: #fff7dd;
  width: 400px;
  height: 280px;

  /* margin: 0 auto; */
  margin-top: 20%;
}

form {
  padding: 50px;
  display: inline-block;
  width: 100%;
}
label {
  color: #d81e5b;
  font-size: 18px;
  font-weight: 600;

  margin-bottom: 30px;
  /* padding-left: 30px; */
}
input {
  color: #2f2e37;
  border: none;
  background: none;
  /* border-top: 2px solid #2f2e37; */
  border-bottom: 2px solid #2f2e37;
  width: 70%;
  margin-bottom: 30px;
  padding: 5px 5px;
  height: 20px;

  font-size: 20px;
  font-weight: 400;
}

input[type="password"] {
  font-size: 25px;
}

input[type="submit"] {
  border: none;
  width: 90px;
  height: 40px;
  background: #d81e5b;
  color: white;
  text-align: center;
  padding: 0;
  border-radius: 10px;
  font-weight: 400;
  margin-left: 210px;
}

#reg-email {
  position: absolute;
  margin-top: -25px;
  margin-left: 4px;
}

#reg-conPas {
  position: absolute;
  margin-top: -80px;
  margin-left: 199px;
}
.secondPassword {
  position: absolute;
  margin-left: 200px;
  margin-top: -62px;
}

.reg {
  width: 180px;
  font-size: 18px;
  padding: 5px;
  /* margin-left: -10px; */
}

#reg-submit {
  border: none;
  width: 90px;
  height: 40px;
  background: #d81e5b;
  color: white;
  text-align: center;
  padding: 0;
  border-radius: 10px;
  font-weight: 400;
  margin-left: 303px;
}
